#sideBar {
	border:1px solid white;
}

body,html{
  height:100%;
}

.container {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
}
#absoluteContainer {
	width: 100%;
	height:100%;
}

/*-----Main Content-----*/
#mainContent {
	width: 100%;
	height: 100%;
	background-image: url("../images/backgrounds/astroids.png");
	background-size: cover;
	z-index: 0;
}

#mainContent > .container {

}

#navbar {

}

#sideBar-button {
	float: left;
}

#titleBar {
	display: inline-block;
	float: left;
	margin-left: 35px;
}

#actionMenu {
	float: right;
}

#content {

}

/*-----Side Bar-----*/
#sideBar {
	z-index: 3;
	position: fixed;
	width:70%;
    height:103%;
    top:0px;
    left: 0px;
	padding-right:0px;
}

#sideBar > .container {
	border-right:5px solid white;
}

#sideBlur {
	width:102%;
    height:100%;
    background-image:url("../images/backgrounds/astroids.png");
    background-size:cover;
    position: absolute;
    z-index: -1;
    top:-10px;
    left:-10px;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
}

#sideHeader {
	width: 100%;
	height: 300px;
	background-color: none;
}

#sideContentOne {

}

#sideContentTwo {

}

#sideContentThree {

}

#footerBar {

}



	