#sideBar {
	border:1px solid white;
}

body,html{
  height:100%;
 
}

body {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue Ultra Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
}

h1 {
	font-size: 6em;
}

h2 {
	font-size: 3.5em;
}
.container {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
	height: 100%
}
#absoluteContainer {
	width: 100%;
	height:100%;
}

/*-----Main Content-----*/
#mainContent {
	width: 100%;
	height: 100%;
	background-image: url("../images/backgrounds/mainBackground.png");
	background-size: cover;
	background-position: top left;
	z-index: 0;
}

#mainContent > .container {

}

#navbar {

}

#sideBar-button {
	float: left;
	visibility: visible;
	position: relative;
}

#titleBar {
	display: inline-block;
	float: left;
	margin-left: 35px;
}

#actionMenu {
	float: right;
}

#content {

}

/*-----Side Bar-----*/
#sideBar {
	z-index: 3;
	position: fixed;
	width:70%;
    height:103%;
    top:0px;
    left: -950px;
	padding-right:0px;
	background-image:url("../images/backgrounds/sideBarBackground.png");
    background-size:cover;
    background-position: top left;
}

#sideBar > .container {
	border-right:10px solid;
	border-color: rgba(255,255,255,.7);
	overflow: scroll;
}

#sideBlur {
	width:102%;
    height:100%;
    position: absolute;
    z-index: -1;
    top:-10px;
    left:-10px;
}

#sideHeader {
	position: relative;
	height: 25%;
	background-color: rgba(0,0,0,.5);
}

#sideHeader > h1 {
	position: absolute;
	bottom:10px;
	right: 50px;
}

#sideBarLogo {
	position: relative;
	display: inline-block;
	right: 100px;
	bottom: 170px;
	background-color: rgba(0,0,0,.3);
	border-bottom-right-radius: 380px;
	padding:0px 80px 50px 0px;
}

#sideBarLogo img {
	height: 480px;
	width: 480px;
	border-radius: 240px;
	background-color: rgba(255,240,165,1);
	border:30px solid #8E2800;
	box-shadow: 0px 0px 15px 2px black;
	opacity: .7;
	padding: 60px;
	opacity: .8;
}

.contentTitle {
	background-color: rgba(0,0,0,.6);
	margin:0px;
	padding:20px;
}
#sideContentOne {
	height: 30%;
}

#sideContentTwo {
	height: 30%;
}

#footerBar {
	height: 30%;
}

/*-----jQuery Toggles-----*/
.button-left {
	left: 700px;
}

.frame-left {
	left: 0px !important;
}

