body,html{
	height:100%;
 	overflow: hidden;
}

body {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue Ultra Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
}

h1 {
	font-size: 6em;
}

h2 {
	font-size: 3.5em;
}
.container {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
	height: 100%
}
#absoluteContainer {
	width: 100%;
	height:100%;
}

/*-----Main Content-----*/
#mainContent {
	width: 100%;
	height: 100%;
	background-image: url("../images/backgrounds/mainBackground.png");
	background-size: cover;
	background-position: top left;
	z-index: 0;
}

#mainContent > .container {

}

#head {
	width: 100%;

}

#sideBar-button {
	visibility: visible;
	position: absolute;
	z-index:;
	top: 0px;
	left: 686px;
	-webkit-transition: left 5s;
    transition: left 5s;
}

#sideBar-button img {
	height: 120px;
	width: 120px;
	opacity: .7;
	margin-top: 20px;
	background-color: rgba(255,255,255,.3);
	border-radius: 60px;
	-webkit-transition: left 5s;
    transition: left 5s;
}

#titleBar h1 {
	display: inline-block;
	float: left;
	padding:15px 0px 0px 190px;
}

#actionMenu {
	float: right;
}

#actionMenu img{
	width: 120px;
	height: 120px;
	margin: 20px;
	opacity: .7;
	background-color: rgba(255,255,255,.3);
	border-radius: 60px;
}

#content {

}

/*-----Side Bar-----*/
#sideBar {
	z-index: 3;
	position: fixed;
	width:676px;
    height:103%;
    top:0px;
    left: -676px;
	padding-right:0px;
	background-image:url("../images/backgrounds/sideBarBackground.png");
    background-size:cover;
    background-position: top left;
    -webkit-transition: left .5s;
    transition: left .5s;
}

#sideBar > .container {
	border-right:10px solid;
	border-color: rgba(255,255,255,.7);
	overflow-y: auto;
	width:100%;
}

#sideHeader {
	position: relative;
	height: 25%;
	background-color: rgba(0,0,0,.5);
}

#sideHeader > h1 {
	position: absolute;
	bottom:10px;
	right: 50px;
}

#sideBarLogo {
	position: relative;
	display: inline-block;
	right: 100px;
	bottom: 170px;
	background-color: rgba(0,0,0,.3);
	border-bottom-right-radius: 380px;
	padding:0px 80px 50px 0px;
}

#sideBarLogo img {
	height: 480px;
	width: 480px;
	border-radius: 240px;
	background-color: rgba(255,240,165,1);
	border:30px solid #8E2800;
	box-shadow: 0px 0px 15px 2px black;
	opacity: .7;
	padding: 60px;
	opacity: .8;
}

.contentTitle {
	background-color: rgba(0,0,0,.6);
	margin:0px;
	padding:20px;
}
#sideContentOne {
	height: 500px;
}

#sideContentTwo {
	height: 310px;
}

#nav {
	height: 530px;
}

/*-----Content blocks-----*/
.contentContainer {
	height: 100%;
	overflow-y: hidden; 
	overflow-x: auto;
	white-space: nowrap;

}
/*-----Members-----*/
.memberBlock {
	height: 210px;
	margin:4% 2% 0% 2%;
	overflow: hidden;
	width:438px;
	border-radius: 105px;
	display: inline-block;
	position: relative;
	background-color: rgba(0,0,0,.5);
	box-shadow: 0px 0px 50px 10px black inset;
	overflow: hidden;
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.memberAdd {
	width: 210px;
	opacity: .5;
}

.memberAdd img {
	height: 210px;
	width: 210px;

}

.memberBlock .profilePic {
	width: 190px;
	height: 190px;
	padding:0px;
	margin: 10px;
	border-radius: 95px;
	display: inline-block;
	position: relative;
	left: 0px;
	-webkit-transform: rotate(0deg);
    transform: rotate(0deg);
	-webkit-transition: left .5s, transform .5s, -webkit-transform .5s;
    transition: left .5s, transform .5s, -webkit-transform .5s;
}

.memberOpen .profilePic {
	left: 225px;
	-webkit-transform: rotate(27deg);
    transform: rotate(27deg);
}

.memberName {
	font-size: 3em;
	display: inline-block;
	position: absolute;
	top:58px;
	right:40px;
	-webkit-transition: right .5s, transform .5s, -webkit-transform .5s;
    transition: right .5s, transform .5s, -webkit-transform .5s;
}

.memberOpen .memberName {
	right: -110px;
	-webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.memberBlock .delete {
	z-index: -1;	
	position: absolute;
	top:0px;
	left:-100px;
	width:100px;
	height:210px;
	padding:70px 10px;
	border-right: 10px solid black;
	background-color: rgba(255,0,0,.3);
	opacity: .8;
	-webkit-transition: left 1.5s;
    transition: left 1.5s;

}

.memberBlock .viewProfile {
	z-index: 0;	
	position: absolute;
	top:0px;
	left:90px;
	width:348px;
	height:210px;
	padding:70px 243px 70px 35px;
	border-top-right-radius: 105px;
	border-bottom-right-radius:105px;
	opacity: .8;

}
.memberOpen .delete {
	left: -15px;
	}

.memberOpen .viewProfile {

}

/*-----Recent Clusters-----*/
.clusterBlock {
	height: 210px;
	margin:4% 2% 0% 2%;
	width:210px;
	border-radius: 105px;
	display: inline-block;
	position: relative;
	background-color: rgba(0,0,0,.5);
}

.clusterBlock  img {
	width: 190px;
	height: 190px;
	margin: 10px;
	background-color: #348899;
	border-radius: 95px;
	display: inline-block;
}

.clusterBlock  h3 {
	font-size: 2.8em;
	position: relative;
	bottom: 15px;
	text-align: center;
}

/*-----Navigation-----*/
#nav {
	white-space: normal;
	text-align: center;
}
.navButton {
	margin:15px 20px 0px;
	display: inline-block;
	position: relative;
	text-align: center;
	font-size: 2.5em;
	width: 170px;
	white-space: normal;
}

.navButton img {
	width:170px;
	height:170px;
	-webkit-filter: invert(1);
	filter: invert(1);
	opacity: .6;
	background-color: rgba(30,30,30,1);
	border-radius: 40px;
	padding:30px;
}

.navButton span {

}
/*-----jQuery Toggles-----*/

.frame-left {
	left: 0px !important;
}

